# PayPal Configuration (stored in localStorage, not used from .env)

# APP Name: v6-sdk-test
# create live account: email_computer@163.com
# related  sandbox account: p-test-us-v6-2025@test.com (US Account)
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
NEXT_PUBLIC_PAYPAL_SECRET=

# APP Name: JS v6
# create live account: email_computer@163.com
# related  sandbox account: p-test-us-v6-2025@test.com (US Account)
# NEXT_PUBLIC_PAYPAL_CLIENT_ID=
# NEXT_PUBLIC_PAYPAL_SECRET=


# Laila Test Account
# NEXT_PUBLIC_PAYPAL_CLIENT_ID=
# NEXT_PUBLIC_PAYPAL_SECRET=
